{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block meta_description %}Connectez-vous à votre compte pour accéder à toutes nos recettes et fonctionnalités exclusives.{% endblock %}

{% block body %}
<div class="bording-container">
    <div class="bording-box">
        <h2 class="section-title">Connexion</h2>
        <form id="loginForm" action="{{ path('app_login') }}" method="post">
            <div class="form-group">
                <label for="username" class="common-style">Email:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="rounded-input" placeholder="Entrez votre email" required>
            </div>
            <div class="form-group">
                <label for="password" class="common-style">Mot de passe:</label>
                <input type="password" id="password" name="_password" class="rounded-input" placeholder="Entrez votre mot de passe" required>
            </div>
            <button type="submit" class="bording-button">Connexion</button>
        </form>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    </div>
</div>
  <script>
        // Fonction pour montrer/cacher le mot de passe
        function togglePassword() {
            const passwordInput = document.querySelector('#password');
            const togglePassword = document.querySelector('.toggle-password');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                togglePassword.textContent = 'Hide';
            } else {
                passwordInput.type = 'password';
                togglePassword.textContent = 'Show';
            }
        }

        document.querySelector('#loginForm').addEventListener('submit', function(event) {
            const email = document.querySelector('#username').value;
            const password = document.querySelector('#password').value;
            const formError = document.querySelector('#formError');
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            let valid = true;

            // Vérification de l'email
            if (!email || !emailRegex.test(email)) {
                valid = false;
            }

            // Vérification du mot de passe
            if (!password || password.length < 6) {
                valid = false;
            } else {
                // Vérification des critères supplémentaires pour le mot de passe
                const hasUpperCase = /[A-Z]/.test(password);
                const hasLowerCase = /[a-z]/.test(password);
                const hasDigit = /[0-9]/.test(password);
                const hasSpecialChar = /[!@#$%^&*(),.?":{}|<>]/.test(password); // Liste des caractères spéciaux à vérifier

                if (!(hasUpperCase && hasLowerCase && hasDigit && hasSpecialChar)) {
                    valid = false;
                }
            }

            // Affichage du message d'erreur si les informations sont invalides
            if (!valid) {
                formError.innerText = 'Invalid email or password.';
                formError.style.display = 'block';
                event.preventDefault(); // Empêche l'envoi du formulaire
            } else {
                formError.style.display = 'none';
            }
        });
    </script>
{% endblock %}