<footer class="footer">
    <div class="footer__social">
        <a href="https://www.facebook.com/aicha.bouchaikh.3" class="footer__icon"><i class="fab fa-facebook-f"></i></a>
        <a href="https://x.com/?lang=en" class="footer__icon"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/aicha_sweettooth/" class="footer__icon"><i class="fab fa-instagram"></i></a>
    </div>
    <p class="footer__copyright">© 2023 Aicha's sweettooth. Tous droits réservés.</p>
</footer>
